use flake


if [ ! -f .env ]; then
  cp example.env .env
fi
# do not actually source .env to keep local environment
# consistent with the CI environment

jpm_tree_path="$(expand_path ./jpm_tree)"

# where jpm installs stuff to
export JANET_MODPATH="$jpm_tree_path/lib"
export JANET_BINPATH="$jpm_tree_path/bin"

# where janet loads stuff from
export JANET_PATH="$JANET_MODPATH"

mkdir $jpm_tree_path
mkdir $JANET_MODPATH
mkdir $JANET_BINPATH

PATH_add $JANET_BINPATH
