use flake

if [ -f .env ]; then
  dotenv
else
  cp example.env .env
fi

jpm_tree_path="$(expand_path ./jpm_tree)"

# where jpm installs stuff to
export JANET_MODPATH="$jpm_tree_path/lib"
export JANET_BINPATH="$jpm_tree_path/bin"

# where janet loads stuff from
export JANET_PATH="$JANET_MODPATH"

mkdir -p $jpm_tree_path
mkdir -p $JANET_MODPATH
mkdir -p $JANET_BINPATH

PATH_add $JANET_BINPATH
