use flake


if [ ! -f .env ]; then
  cp example.env .env
fi
# do not actually source .env to keep local environment
# consistent with the CI environment


# where janet loads stuff from
export JANET_PATH="$(expand_path ./jpm_tree)"

export JANET_MODPATH="$JANET_PATH/lib"
export JANET_BINPATH="$JANET_PATH/bin"


mkdir $JANET_PATH
mkdir $JANET_MODPATH
mkdir $JANET_BINPATH

PATH_add $JANET_BINPATH
